

h1{
    margin-right: 44px;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}
img{
    display: inline-block;

  
      margin-left: 33%;
    
    }

table td{

    padding: 12px;
    
    border: 1px solid red;

    text-align: center;
}



table th{
    padding: 12px;
    font-weight: bold;

    border: 1px solid black;

}













table{
margin-left: 30%;
    margin-top:  70px;
    margin-bottom: 30px;
}



fieldset{

    border: 1px solid black;
margin-right: 1006px;
margin-left: 969px;
padding: 12px;
margin-top: 50px;

}

label{

    display: inline-block;
    padding-top: 20px;
}

input{
display: inline-block;
margin-right: 200px;
margin-top: 50;
}


*{

    background-color: rgb(219, 197, 197);
}













































