ul {

    list-style-type: disc;
    padding: 25px;
    background: rgb(196, 196, 228);

}
h2 {


    background-color: red;
    padding-left: 25px;

}



table, th, td{
    border: 1px solid black;
}