
*{

    background-color: rgb(255, 255, 244);
}


h1{

    font-size: 20px;
    text-align: center;
    padding-top: 100px;

}
img{
    display: inline-block;

  
      margin-left: 30%; }

table, th, td{

    padding: 10px;
    
    border: 1px solid black;

    text-align: center;
}

table{
margin-left: 30%;
    margin-top:  70px;
    margin-bottom: 30px;
}



fieldset{

    border: 1px solid black;
margin-right: 1006px;
margin-left: 657px;
padding: 12px
}

label{

    display: inline-block;
    padding-top: 20px;
}

input{
display: inline-block;
margin-right: 200px;
margin-top: 50;
}












































